.trackItemPlayerWrapper {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.playBtn{
    margin-top: 135px;
}


.volumeStyle{
    display: flex;
    flex-direction: column;
}

.volumeStyle input[type='range']{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* Chromium */
    width: 4px;
    margin-left: 10px;
    accent-color: var(--secondary-color);
}

