
.trackListWrapper {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.trackListWrapper ul li {
    margin-top: 50px;
    width: 45vw;
    transform: scale(1.1);
    background-color: rgba(21, 11, 11, 0.2);
    border: 2px solid var(--secondary-color);
    padding: 1px;
    border-radius: 20px;
}

.trackImg{
    border-radius: 20px;

}


@media screen and (max-width: 680px) {
    .trackListWrapper ul li{
        padding: 0;
        width: auto;
    }



}